html,body{
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-signin-btn {
  margin-top: 20px;
  width: 100%;
}

/* Bootstrap primary button customization */
.btn-primary {
  --bs-btn-bg: #9ACA76;
  --bs-btn-border-color: #9ACA76;

  --bs-btn-hover-bg: #d0ecb9;
  --bs-btn-hover-border-color: #d0ecb9;

  --bs-btn-active-bg: #d0ecb9;
  --bs-btn-active-border-color: #d0ecb9;
}