@charset "UTF-8";

.logo {
  font-weight: bold;
  color: #6f42c1;
  text-decoration: none;
  margin-left: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #d0ecb9;
  border-bottom: none;
  z-index: 1000;
}

.body { 
  background-color: #ffffff; 
}

.btn-primary {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-primary:hover {
  background-color: #b297dd;
  border-color: #b297dd;
}

.btn-primary:focus {
  background-color: #b297dd;
  border-color: #b297dd;
  box-shadow: 0 0 0 0.25rem rgba(111, 66, 193, 0.4);
}

.link:hover {
  color: #c7c7c7 !important;
}

#login-box {
  transform: translate(200px, -60px);
  width: 450px;
}

#username-label, #password-label {
  margin-bottom: 0;
}